@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;1,200;1,300&family=Rubik:ital,wght@0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;1,200;1,300&family=Rubik:ital,wght@0,400;0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

.section {
    padding: 5rem 0rem;

    .textCenter {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;

        span {
            font-weight: 400;
            font-size: 14px;
            font-style: normal;
            color: rgb(49, 110, 194);
            line-height: 21px;
            text-decoration: none;
            transform: uppercase;
            font-family: "Fira Sans";
            letter-spacing: 2.8px;
            margin-bottom: 0.5rem;
        }

        h2 {
            font-weight: 500;
            font-size: 38px;
            font-style: normal;
            color: rgb(0, 48, 114);
            line-height: 45.6px;
            text-decoration: none;
            transform: none;
            font-family: "Rubik";
            letter-spacing: -2px;
            margin-bottom: 0.5rem;
        }

        p {
            font-weight: 400;
            font-size: 18px;
            font-style: normal;
            color: rgb(76, 82, 110);
            line-height: 27px;
            text-decoration: none;
            transform: none;
            font-family: "Fira Sans";
            letter-spacing: 0;
            max-width: 47%;
        }
    }

    .cards {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 3rem;


        .card {
            background-color: #f3f8ff;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;
            padding: 80px;


            .icon {
                color: #316ec2;
                font-size: 2.5rem;
                margin-bottom: 1rem;
            }

            h5 {
                font-weight: 500;
                font-size: 20px;
                font-style: normal;
                color: rgb(0, 48, 114);
                line-height: 30px;
                transform: none;
                font-family: "Rubik";
                letter-spacing: 0;
            }
        }
    }

}

@media only screen and (max-width: 768px) {
    .section {
        padding: 3rem 0rem;

        .textCenter {
            span {
                font-weight: 500;
                font-size: 12px;
                font-style: normal;
                color: rgb(49, 110, 194);
                line-height: 21px;
                text-decoration: none;
                transform: uppercase;
                font-family: "Fira Sans";
                letter-spacing: 2.8px;
                margin-bottom: 0.5rem;
            }

            h2 {
                font-weight: 500;
                font-size: 28px;
                max-width: 70%;
                font-style: normal;
                color: rgb(0, 48, 114);
                line-height: 45.6px;
                text-decoration: none;
                transform: none;
                font-family: "Rubik";
                letter-spacing: -2px;
                margin-bottom: 0.5rem;
            }

            p {
                font-weight: 400;
                font-size: 16px;
                font-style: normal;
                color: rgb(76, 82, 110);
                line-height: 27px;
                text-decoration: none;
                transform: none;
                font-family: "Fira Sans";
                letter-spacing: 0;
                max-width: 55%;
            }
        }

        .card {
            background-color: #f3f8ff;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;
            padding: 80px;
            margin-bottom: 1rem;


            .icon {
                color: #316ec2;
                font-size: 2.5rem;
                margin-bottom: 1rem;
            }

            h5 {
                font-weight: 500;
                font-size: 20px;
                font-style: normal;
                color: rgb(0, 48, 114);
                line-height: 30px;
                transform: none;
                font-family: "Rubik";
                letter-spacing: 0;
            }
        }
    }


}

@media only screen and (max-width: 576px) {
    .section {
        padding: 2.3rem 0rem;

        .textCenter {
            span {
                font-weight: 500;
                font-size: 12px;
                font-style: normal;
                color: rgb(49, 110, 194);
                line-height: 21px;
                text-decoration: none;
                transform: uppercase;
                font-family: "Fira Sans";
                letter-spacing: 2.8px;
                margin-bottom: 0.5rem;
            }

            h2 {
                font-weight: 500;
                font-size: 22px;
                max-width: 73%;
                font-style: normal;
                color: rgb(0, 48, 114);
                line-height: 30.6px;
                text-decoration: none;
                transform: none;
                font-family: "Rubik";
                letter-spacing: -2px;
                margin-bottom: 0.5rem;
            }

            p {
                font-weight: 400;
                font-size: 12px;
                font-style: normal;
                color: rgb(76, 82, 110);
                line-height: 23px;
                text-decoration: none;
                transform: none;
                font-family: "Fira Sans";
                letter-spacing: 0;
                max-width: 60%;
            }
        }

        .cards {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding-top: 1.5rem;


            .card {
                background-color: #f3f8ff;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                flex-direction: column;
                padding: 60px;


                .icon {
                    color: #316ec2;
                    font-size: 2.5rem;
                    margin-bottom: 1rem;
                }

                h5 {
                    font-weight: 500;
                    font-size: 20px;
                    font-style: normal;
                    color: rgb(0, 48, 114);
                    line-height: 30px;
                    transform: none;
                    font-family: "Rubik";
                    letter-spacing: 0;
                }
            }
        }
    }
}