@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;1,200;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.navbar {

    position: fixed;
    width: 100%;
    background-color: white;

    .hrDiv {
        display: flex;
        justify-content: center;
        align-items: center;

        hr {
            width: 97%;
            margin: 0;
        }
    }

    .firstDiv {
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding: 1rem 2rem;

        span {
            font-weight: 500;
            font-size: 16px;
            font-style: normal;
            color: rgb(0, 48, 114);
            line-height: 24px;
            text-decoration: none;
            transform: none;
            font-family: "Fira Sans";
            letter-spacing: 0;

        }

        div {
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                font-weight: 400;
                font-size: 16px;
                font-style: normal;
                color: rgb(76, 82, 110);
                line-height: 24px;
                text-decoration: none;
                transform: none;
                font-family: "Fira Sans";
                letter-spacing: 0;
                margin: 0;
            }
        }

        ul {
            display: flex;
            list-style: none;
            justify-content: center;
            align-items: center;
            margin: 0;

            li {
                padding: 0rem 0.5rem;
                cursor: pointer;
            }
        }
    }



    .secDiv {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0rem 2rem;
        position: fixed;
        width: 100%;
        background-color: white;
        transition: all .3s ease;



        .firstPart {
            display: flex;
            justify-content: center;
            align-items: center;

            input,
            label {
                display: none;
            }

            .logo {
                width: 166px;
                height: 48px;
            }

            .link {
                padding: 0rem 1rem;
                font-weight: 600;
                font-size: 18px;
                font-style: normal;
                color: rgb(0, 48, 114);
                line-height: 27px;
                text-decoration: none;
                transform: capitalize;
                font-family: "Fira Sans";
                letter-spacing: 0;
                cursor: pointer;
            }

            ul {
                display: flex;
                list-style: none;
                padding-left: 0.5rem;
                margin: 0;

                li {
                    padding: 0rem 1rem;
                    font-weight: 600;
                    font-size: 18px;
                    font-style: normal;
                    color: rgb(0, 48, 114);
                    line-height: 27px;
                    text-decoration: none;
                    transform: capitalize;
                    font-family: "Fira Sans";
                    letter-spacing: 0;
                    cursor: pointer;

                }
            }
        }

        .secPart {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem 0.5rem;

            .btn {
                border: 3px solid #316ec2;
                padding: 0.75rem 1rem;
                background-color: white;
                color: rgb(50, 50, 223);
                margin-right: 0.5rem;
            }

            .btn:hover {
                transition: all 1s ease;
                color: white;
                background-color: #01459B;
                border: 2px solid #ffffff;
            }

            .icon {
                font-size: 2rem;
            }

            span {
                font-weight: 400;
                font-size: 14px;
                font-style: normal;
                color: rgb(155, 158, 172);
                line-height: 21px;
                text-decoration: none;
                transform: none;
                font-family: "Fira Sans";
                letter-spacing: 0;
            }

            h3 {
                font-weight: 800;
                font-size: 16px;
                font-style: normal;
                color: rgb(0, 48, 114);
                line-height: 22.4px;
                text-decoration: none;
                transform: none;
                font-family: "Fira Sans";
                letter-spacing: 0;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .navbar {
        .firstDiv {
            display: flex;
            justify-content: space-between;
            text-align: center;
            padding: 1rem 2rem;


            span {
                font-weight: 500;
                font-size: 16px;
                font-style: normal;
                color: rgb(0, 48, 114);
                line-height: 24px;
                text-decoration: none;
                transform: none;
                font-family: "Fira Sans";
                letter-spacing: 0;
                color: white;
            }

            div {
                display: flex;
                justify-content: center;
                align-items: center;

                p {
                    font-weight: 400;
                    font-size: 16px;
                    font-style: normal;
                    color: rgb(76, 82, 110);
                    line-height: 24px;
                    text-decoration: none;
                    transform: none;
                    font-family: "Fira Sans";
                    letter-spacing: 0;
                    margin: 0;
                    color: white;
                }
            }

            ul {
                display: flex;
                list-style: none;
                justify-content: center;
                align-items: center;
                margin: 0;

                li {
                    padding: 0rem 0.5rem;
                    cursor: pointer;
                    color: white;
                }
            }
        }

        .secDiv {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 1rem 2rem;
            position: static;

            .firstPart {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .menu {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    max-height: 0;
                    overflow: hidden;

                    .list {
                        flex-direction: column;
                        align-items: center;
                        padding: 20px;
                    }
                }

                label {
                    display: inline-flex;
                    align-items: center;
                    cursor: pointer;
                }

                input:checked~.menu {
                    max-height: 100%;
                }

            }

            .secPart {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .firstDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1rem 2rem;

        span {
            display: none;
            font-weight: 500;
            font-size: 16px;
            font-style: normal;
            color: rgb(0, 48, 114);
            line-height: 24px;
            text-decoration: none;
            transform: none;
            font-family: "Fira Sans";
            letter-spacing: 0;
        }

        div {
            display: none;
            justify-content: center;
            align-items: center;

            p {
                display: none;
                font-weight: 400;
                font-size: 16px;
                font-style: normal;
                color: rgb(76, 82, 110);
                line-height: 24px;
                text-decoration: none;
                transform: none;
                font-family: "Fira Sans";
                letter-spacing: 0;
                margin: 0;
            }
        }

        ul {
            display: flex;
            list-style: none;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            margin-right: auto;

            li {
                padding: 0rem 0.5rem;
                cursor: pointer;
            }
        }
    }

    .secDiv {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0rem 2rem;
        position: fixed;
        width: 100%;
        background-color: white;
        transition: all .3s ease;



        .firstPart {
            display: flex;
            justify-content: center;
            align-items: center;

            input,
            label {
                display: none;
            }

            .logo {
                width: 166px;
                height: 48px;
            }

            .link {
                padding: 0rem 1rem;
                font-weight: 600;
                font-size: 18px;
                font-style: normal;
                color: rgb(0, 48, 114);
                line-height: 27px;
                text-decoration: none;
                transform: capitalize;
                font-family: "Fira Sans";
                letter-spacing: 0;
                cursor: pointer;
            }

            ul {
                display: flex;
                list-style: none;
                padding-left: 0.5rem;
                margin: 0;

                li {
                    padding: 0rem 1rem;
                    font-weight: 600;
                    font-size: 18px;
                    font-style: normal;
                    color: rgb(0, 48, 114);
                    line-height: 27px;
                    text-decoration: none;
                    transform: capitalize;
                    font-family: "Fira Sans";
                    letter-spacing: 0;
                    cursor: pointer;

                }
            }
        }

        .secPart {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem 0.5rem;

            .btn {
                border: 3px solid #316ec2;
                padding: 0.75rem 1rem;
                background-color: white;
                color: rgb(50, 50, 223);
                margin-right: 0.5rem;
            }

            .btn:hover {
                transition: all 1s ease;
                color: white;
                background-color: #01459B;
                border: 2px solid #ffffff;
            }

            .icon {
                font-size: 2rem;
            }

            span {
                font-weight: 400;
                font-size: 14px;
                font-style: normal;
                color: rgb(155, 158, 172);
                line-height: 21px;
                text-decoration: none;
                transform: none;
                font-family: "Fira Sans";
                letter-spacing: 0;
            }

            h3 {
                font-weight: 800;
                font-size: 16px;
                font-style: normal;
                color: rgb(0, 48, 114);
                line-height: 22.4px;
                text-decoration: none;
                transform: none;
                font-family: "Fira Sans";
                letter-spacing: 0;
            }
        }
    }
}